<div id="footer">
    <div id="main-navigation">
        <ul class="wat-cf">
            <%= render :partial => 'layouts/app_links' %>
        </ul>
		<a href="http://pilu.github.com/web-app-theme/">Layout Copyright &copy; <%= Time.now.year %>Web App.</a>
    </div>
</div>
